<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JudgeLite</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    <header>
        <h1><a href="/" style="color: white; text-decoration: none;">JudgeLite</a></h1>
        <nav id="top-navbar">
            <ul>
                <li><a href="/problem_list" class="top-navbar-link">Problems</a></li>
                <li><a href="/submission_list" class="top-navbar-link">Submissions</a></li>
                <li><a href="/api/submit" class="top-navbar-link">Test Submit</a></li>
                <li><a href="/api" class="top-navbar-link">API</a></li>
                {% if session['admin'] %}
                    <li><a href="/logout" class="top-navbar-link">Logout</a></li>
                {% else %}
                    <li><a href="/login" class="top-navbar-link">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
