<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submission Form</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!--Simple form to test the submission process-->
    <div id="result-panel"></div>
    <h1>Test Submission Form</h1>
    <form id="submit-form" autocomplete="on">
        <label for="problem_id">Problem ID:</label>
        <input id="problem_id" name="problem_id" type="text">
        <br> <br>
        <label for="username">Username:</label>
        <input id="username" name="username" type="text">
        <br> <br>
        <label for="type">Language:</label>
        <select id="type" name="type">
            <option value="java">Java</option>
            <option value="cpp">C++</option>
            <option value="python">Python 3</option>
        </select>
        <br> <br>
        <label for="code">Code to submit:</label>
        <input id="code" name="code" type="file">
        <br> <br>
        <button type="submit" id="submit-button" autocomplete="off">Submit!</button>
    </form>

    <div id="response-text"></div>

    <script src="static/submit.js"></script>

    <template id="submit-status-display">
        <div id="submission-result-box">
            <div class="progress-box"></div>
            <div class="submission-status">
                <p class="status-text">Waiting...</p>
                <div class="loader"></div>
            </div>
            <div class="test-results-box"></div>
        </div>

        <p id="raw-text"></p>

        <template id="test-result">
            <a href="#" class="tooltip-no-underline">
                <div class="test-result">
                    <div class="test-verdict"></div>
                    <div class="test-number"></div>
                    <div class="test-info">
                        <div class="test-memory"></div>
                        <div class="test-time"></div>
                    </div>
                </div>
            </a>
        </template>
        <script src="/static/status.js"></script>
    </template>
</body>
</html>