{% extends "base.html" %}

{% block content %}
    <h2>Welcome to JudgeLite</h2>
    <p>Click <a href="/problem_list">this link</a> to view the list of problems.</p>
    {% if is_admin %}
        <p>You are logged in as an administrator. Click <a href="/logout">here</a> to log out.</p>
    {% else %}
        <p>Administrators, click <a href="/login">here</a> to log in.</p>
    {% endif %}
    <h3>API Stuff</h3>
    <p><a href="/api/get_submissions">Get Evaluated Submissions</a></p>
    <p><a href="/api/get_submission_source/0">Get Evaluated Submission Source (change 0 to desired index)</a></p>
    <p><a href="/api/get_status/job_id">Get Submission Status (change job_id to desired job ID)</a></p>
    <p><a href="/api/get_problem_list">Get Problem List</a></p>
    <p><a href="/api/get_problem_info/PRB1">Get Problem Info (change PRB1 to desired problem ID)</a></p>
    <div id="root"></div>
    <p>(This front end interface is still a huge WIP)</p>
{% endblock %}
