{% extends "base.html" %}

{% block content %}
    <style>
        @media only screen and (max-width: 420px), screen and (max-height: 500px) {
            header {
                display: none;
            }
        }
    </style>
    <video autoplay muted loop id="background-video">
        <source src="/media/particles.mp4" type="video/mp4">
    </video>
    <div id="center-jumbotron">
        <h1>Welcome to JudgeLite.</h1>
        <p>Server time: {{ curr_time }}</p>
        {% if not session['admin'] %}
            <p>Click <a href="/login">here</a> to login.</p>
        {% else %}
        <p>Click <a href="/submission_list">here</a> to view recent submissions.</p>
        {% endif %}
        <p>{{ num_problems }} problems.</p>
        <p>{{ num_submissions }} submissions.</p>
    </div>
    <script>
        document.body.style.backgroundColor = "black";
        setTimeout(() => { document.getElementById("center-jumbotron").style.opacity = 1; }, 500);
    </script>
{% endblock %}
