<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submitted!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Submission Successful</h1>

    <div id="submission-result-box">
        <div id="submission-status">
            <p id="status-text">Waiting...</p>
        </div>
        <div id="test-results-box"></div>
    </div>

    <p id="raw-text"></p>

    <template id="test-result">
        <a href="#" class="tooltip-no-underline">
            <div class="test-result">
                <div class="test-verdict"></div>
                <div class="test-number"></div>
                <div class="test-info">
                    <div class="test-memory"></div>
                    <div class="test-time"></div>
                </div>
            </div>
        </a>
    </template>
    <script src="/static/status.js"></script>
</body>
</html>