<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submitted!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Submission Successful</h1>
    <p id="flavor-text">Let's hope you got it right!</p>
    <p id="status-text">Status: In queue</p>
    <p id="raw-text"></p>

    <script src="/static/status.js"></script>
</body>
</html>