{% extends "base.html" %}

{% block content %}
    <!--Simple form to test the submission process-->
    <div id="result-panel"></div>
    <h1>Test Submission Form</h1>
    <p>Note: This form contains all the fields that are needed to send a POST request to /api/submit, along with their correct names and value types. So, to automate the submission of code, all you have to do is copy this form!</p>
    <form id="submit-form" autocomplete="on">
        <label for="problem_id">Problem ID:</label>
        <input id="problem_id" name="problem_id" type="text">
        <br> <br>
        <label for="username">Username:</label>
        <input id="username" name="username" type="text">
        <br> <br>
        <label for="type">Language:</label>
        <select id="type" name="type">
            <option value="java">Java</option>
            <option value="cpp">C++</option>
            <option value="python">Python 3</option>
        </select>
        <br> <br>
        <label for="code">Code to submit:</label>
        <input id="code" name="code" type="file">
        <br> <br>
        <label for="secret_key">Secret key:</label>
        <input id="secret_key" name="secret_key" type="password">
        <br> <br>
        <label for="run_bonus"><input id="run_bonus" name="run_bonus" type="checkbox"> Run on bonus test cases?</label>
        <br> <br>
        <button type="submit" id="submit-button" autocomplete="off">Submit!</button>
    </form>

    <br>
    <div id="response-text"></div>
    <br>

    <script src="/static/submit.js"></script>

    <template id="submit-status-display">
        <div id="submission-result-box">
            <div class="progress-box"></div>
            <div class="submission-status">
                <p class="status-text">Waiting...</p>
                <div class="loader"></div>
            </div>
            <div class="test-results-box"></div>
        </div>

        <p id="raw-text"></p>

        <template id="test-result">
            <a href="#" class="tooltip-no-underline">
                <div class="test-result">
                    <div class="test-verdict"></div>
                    <div class="test-number"></div>
                    <div class="test-info">
                        <div class="test-memory"></div>
                        <div class="test-time"></div>
                    </div>
                </div>
            </a>
        </template>
        <script src="/static/status.js"></script>
    </template>
{% endblock %}